<div class="content">
  <mat-card class="welcome-card">
    <mat-card-header>
      <mat-card-title>Receitas</mat-card-title>
      <mat-card-subtitle>Gerencie suas receitas financeiras facilmente.</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        Aqui você pode cadastrar novas receitas ou visualizar suas entradas financeiras já registradas.
      </p>
    </mat-card-content>

    <mat-card-actions>
      <div class="button-group">
        <button class="botao-novo" mat-raised-button color="accent" routerLink="/receitas">
          Nova Receita
        </button>
        <button mat-flat-button color="primary" routerLink="/lista-receitas">
          Ver Receitas
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
