.titulo-nova-receita{
  color: rgb(46, 90, 247);
}
.btn-limpar {
  background-color: gray !important;
  color: white !important;
}

.btn-cancelar {
  background-color: rgb(252, 153, 54) !important;
  color: white !important;
}
.full-width {
  width: 100%;
}



