<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" mode="side" opened>
    <mat-toolbar color="primary" class="toolbar-sidenav">
      Bem-vindo(a)!
    </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">Dashboard</a>
      <a mat-list-item routerLink="/receitas" routerLinkActive="active-link">Receitas</a>
      <a mat-list-item routerLink="/despesas" routerLinkActive="active-link">Despesas</a>
      <a mat-list-item routerLink="/metas" routerLinkActive="active-link">Metas</a>
      <a mat-list-item routerLink="/relatorios" routerLinkActive="active-link">Relatórios</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-app">
    <mat-toolbar color="primary" class="header-toolbar">
      <span class="ms-2">FazMeRir</span>
    </mat-toolbar>

    <div class="main-content container-fluid py-4">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
